<!DOCTYPE html>
<html lang="pt-br" style="min-height: 100%; height: 100%">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
      integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e"
      crossorigin="anonymous"
    />
  </head>
  <body class="h-100">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div
          class="col-12 h-100 d-md-flex justify-content-center align-items-center mt-md-0 mt-5"
        >
          <div id="loginDiv" class="col-md-3 container">
            <div class="text-center col-11 container mb-3">
              <img src="/static/mensager.png" class="col-5" />
            </div>
            <form id="form" class="col-11 container shadow-lg p-3">
              <div class="col-12 mb-3">
                <label for="username" class="form-label"
                  >Nome de usuário:</label
                >
                <div class="input-group-lg">
                  <input
                    id="username"
                    name="username"
                    placeholder="Insira o nome de usuário do administrador"
                    class="form-control form-control-lg"
                  />
                </div>
              </div>
              <div class="col-12 mb-3">
                <label for="password" class="form-label">Senha:</label>
                <div class="input-group-lg">
                  <input
                    id="password"
                    name="password"
                    placeholder="Insira sua senha do administrador"
                    class="form-control form-control-lg"
                  />
                </div>
              </div>
              <div class="col-12 text-center mb-3">
                <label id="msg" class="d-none"></label>
              </div>
              <div class="col-12 mb-3">
                <div class="input-group">
                  <input
                    class="btn btn-block btn-primary col-12"
                    type="button"
                    id="send"
                    value="Enviar"
                  />
                </div>
              </div>
              <div class="col-12 text-center">
                <img class="col-3" src="/static/logo.png" />
              </div>
            </form>
          </div>
          <div
            id="dashboard"
            class="col-md-8 shadow-lg d-none"
            style="height: 800px"
          >
            <div
              class="col-md-1 h-auto col-12 h-md-100 p-2 border d-md-block d-flex justify-content-around align-items-center"
            >
              <div class="container col-md-12 col-2 mt-2 text-center">
                <img src="/static/mensager.png" class="col-md-8 col-12" />
              </div>
              <div class="container col-md-12 col-2 mt-2 mt-md-5 text-center">
                <i
                  class="bi bi-table h3"
                  id="tableButton"
                  style="cursor: pointer"
                ></i>
              </div>
              <div class="container col-md-12 col-2 mt-2 mt-md-5 text-center">
                <a id="export" style="cursor: pointer"
                  ><i class="bi bi-download h3"></i
                ></a>
              </div>
              <div class="container col-md-12 col-2 mt-2 mt-md-5 text-center">
                <i
                  class="bi bi-upload h3"
                  id="uploadButton"
                  style="cursor: pointer"
                ></i>
              </div>
              <div class="container col-md-12 col-2 mt-2 mt-md-5 text-center">
                <i
                  class="bi bi-person-add h3"
                  style="cursor: pointer"
                  id="newButton"
                ></i>
              </div>
            </div>
            <div class="col-md-11 d-md-flex h-100 func" style="height: 800px">
              <div class="col-md-12 h-100">
                <div
                  class="tadd d-flex justify-content-around table-responsive h-auto container col-12 p-2 bg-secondary text-white"
                >
                  <button class="btn btn-primary" type="button" id="refresh">
                    <i class="bi bi-arrow-clockwise"></i> Atualizar
                  </button>
                  <div class="col-md-5 col-8">
                    <div class="input-group">
                      <select id="filter" class="form-select form-select-sm">
                        <option value="">Filtro</option>
                      </select>
                      <input
                        type="search"
                        id="search"
                        class="form-control form-control-sm"
                        placeholder="Search"
                      />
                      <input
                        type="button"
                        id="confirm"
                        class="btn btn-block btn-sm btn-primary"
                        value="Procurar"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="container col-12 container h-100 d-flex justify-content-center align-items-center"
                  id="tdiv"
                  style="max-width: 100%; overflow: auto; max-height: 90%"
                >
                  <div
                    class="spinner-grow text-primary"
                    style="width: 3rem; height: 3rem"
                    role="status"
                    id="loader"
                  >
                    <span class="sr-only"></span>
                  </div>
                  <table
                    class="table table-striped table-bordered col-12 d-none"
                    style="width: 100%"
                    id="table"
                  >
                    <thead
                      class="bg-info text-center"
                      style="position: sticky; top: 0"
                    >
                      <tr>
                        <th>Ações</th>
                        <th>hosp_qtdevagas</th>
                        <th>hosp_numeroreserva</th>
                        <th>geral_qtderegistros</th>
                        <th>geral_idsistema</th>
                        <th>geral_numeroregistro</th>
                        <th style="min-width: 300px">hosp_nomehospede</th>
                        <th>geral_titularidadecompra</th>
                        <th>hosp_tipoquarto</th>
                        <th>hosp_categoriaquarto</th>
                        <th>hosp_dataentrada</th>
                        <th>hosp_datasaida</th>
                        <th>hosp_qtdediaria</th>
                        <th>hosp_nomepousada</th>
                        <th>hosp_categoriapacote</th>
                        <th>hosp_statuscontratopousada</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
              </div>
            </div>
            <div
              class="col-12 d-none h-100 func text-center align-items-center justify-content-center"
              style="height: 800px"
            >
              <form enctype="multipart/form-data" method="POST" id="import">
                <h1>Importar uma nova tabela</h1>
                <small>*.xlsx</small>
                <div class="col-12 mb-3">
                  <div class="input-group">
                    <input
                      type="file"
                      name="clients"
                      class="form-control-file form-control"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-group">
                    <input
                      type="submit"
                      value="Upload"
                      class="btn btn-block btn-primary col-12"
                    />
                  </div>
                </div>
              </form>
            </div>
            <div class="col-11 d-none h-100 func" style="height: 800px">
              <h1 class="text-center text-primary" id="title">Novo</h1>
              <hr />
              <form class="col-md-11 col-12 container" id="newForm">
                <div class="d-md-flex col-12 justify-content-around mb-3">
                  <div class="form-group col-md-5">
                    <label class="form-label">Nome do hospede</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="hosp_nomehospede"
                      name="hosp_nomehospede"
                      id="nomeHosp"
                    />
                  </div>
                  <div class="form-group col-md-5">
                    <label class="form-label">Quantidade de vagas</label>
                    <div class="d-flex col-12">
                      <div class="input-group">
                        <input
                          type="number"
                          class="form-control"
                          placeholder="hosp_qtdevagas"
                          name="hosp_qtdevagas"
                          id="hospVagas"
                        />
                      </div>
                      <input
                        class="form-check m-2"
                        type="checkbox"
                        id="hospVagasCheck"
                      />
                      <small>Preencher automaticamente</small>
                    </div>
                  </div>
                </div>
                <div class="d-md-flex col-12 justify-content-around mb-3">
                  <div class="form-group col-md-3">
                    <label class="form-label">Número de reserva</label>
                    <div class="input-group">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="hosp_numeroreserva"
                        name="hosp_numeroreserva"
                        id="numeroReserva"
                      />
                      <input
                        class="form-check m-2"
                        type="checkbox"
                        id="numeroReservaCheck"
                      />
                      <small class="col-2">Preencher automaticamente</small>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label class="form-label">Quantidade de Registros</label>
                    <div class="input-group">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="geral_qtderegistros"
                        name="geral_qtderegistros"
                        id="quantidadeRegistro"
                      />
                      <input
                        class="form-check m-2"
                        type="checkbox"
                        id="quantidadeRegistroCheck"
                      />
                      <small class="col-2">Preencher automaticamente</small>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label class="form-label">Id no sistema</label>
                    <div class="input-group">
                      <input
                        type="number"
                        class="form-control"
                        placeholder="geral_idsistema"
                        name="geral_idsistema"
                        id="idSistema"
                      />
                      <input
                        class="form-check m-2"
                        type="checkbox"
                        id="idSistemaCheck"
                      />
                      <small class="col-2">Preencher automaticamente</small>
                    </div>
                  </div>
                </div>
                <div class="d-md-flex col-12 justify-content-around mb-3">
                  <div class="form-group col-md-5">
                    <label>Nome do titular</label>
                    <input
                      type="text"
                      class="form-control"
                      id="titularCompra"
                      placeholder="geral_titularidadecompra"
                      name="geral_titularidadecompra"
                    />
                  </div>
                  <div class="form-group col-md-5">
                    <label>Número de registro</label>
                    <div class="d-flex col-12">
                      <div class="input-group">
                        <input
                          type="text"
                          maxlength="8"
                          class="form-control"
                          placeholder="geral_numeroregistro"
                          name="geral_numeroregistro"
                          id="geralRegistro"
                        />
                      </div>
                      <input
                        class="form-check m-2"
                        type="checkbox"
                        id="geralRegistroCheck"
                      />
                      <small>Gerar novo</small>
                    </div>
                  </div>
                </div>
                <div class="d-md-flex col-12 justify-content-around mb-3">
                  <div class="form-group col-md-5">
                    <label>Categoria do quarto</label>
                    <select
                      class="form-select"
                      name="hosp_categoriaquarto"
                      id="categoriaQuarto"
                    >
                      <option value="STANDARD">STANDARD</option>
                      <option value="Share">Share</option>
                    </select>
                  </div>
                  <div class="form-group col-md-5">
                    <label>Tipo do quarto</label>
                    <select
                      class="form-select"
                      name="hosp_tipoquarto"
                      id="tipoQuarto"
                    >
                      <option value="DUPLO">DUPLO</option>
                      <option value="Share">Share</option>
                      <option value="TRIPLO">TRIPLO</option>
                      <option value="QUARTUPLO">QUARTUPLO</option>
                      <option value="QUINTUPLO">QUINTUPLO</option>
                      <option value="SEXTUPLO">SEXTUPLO</option>
                      <option value="Share.extra">Share.extra</option>
                    </select>
                  </div>
                </div>
                <div class="d-md-flex col-12 justify-content-around mb-3">
                  <div class="form-group col-md-3">
                    <label>Pousada</label>
                    <div class="d-flex col-12">
                      <select
                        class="form-select"
                        name="hosp_nomepousada"
                        id="nomePousada"
                      ></select>
                      <input
                        class="form-control d-none"
                        type="text"
                        id="novaPousada"
                        placeholder="hosp_nomepousada"
                      />
                      <input
                        class="form-check m-2"
                        type="checkbox"
                        id="nomePousadaCheck"
                      />
                      <small>Nova</small>
                    </div>
                  </div>
                  <div class="form-group col-md-3">
                    <label>Pacote</label>
                    <select
                      class="form-select"
                      name="hosp_categoriapacote"
                      id="categoriaPacote"
                    ></select>
                  </div>
                  <div class="form-group col-md-3">
                    <label>Contrato da Pousada</label>
                    <select
                      class="form-select"
                      name="hosp_statuscontratopousada"
                      id="contratoPousada"
                    >
                      <option>GARANTIDO</option>
                      <option>EXTRA</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-12">
                  <div class="input-group justify-content-around">
                    <input
                      class="btn btn-danger btn-block col-6 d-none"
                      id="delete"
                      value="Deletar"
                      type="button"
                    />
                    <input
                      class="btn btn-info btn-block col-6 d-none"
                      value="Modificar"
                      type="button"
                      id="update"
                    />
                    <input
                      class="btn btn-primary btn-block col-12"
                      id="create"
                      value="Confirmar"
                      type="button"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/JQuery/jquery.min.js"></script>
    <script src="/static/Boostrap/bootstrap.min.js"></script>
    <script>
      $(document).ready(async () => {
        const username = $("#username");
        const password = $("#password");
        const loader = $("#loader");
        const tdiv = $("#tdiv");
        const send = $("#send");
        const form = $("#form");
        const msg = $("#msg");
        const filter = $("#filter");
        const search = $("#search");
        const confirm = $("#confirm");
        const uploadButton = $("#uploadButton");
        const tableButton = $("#tableButton");
        const newButton = $("#newButton");
        const refresh = $("#refresh");
        const geralRegistro = $("#geralRegistro");
        const nomeHosp = $("#nomeHosp");
        const titularCompra = document.getElementById("titularCompra");
        const quantidadeRegistro = $("#quantidadeRegistro");
        const idSistema = $("#idSistema");
        const numeroReserva = $("#numeroReserva");
        const novaPousada = $("#novaPousada");
        const nomePousada = $("#nomePousada");
        const categoriaPacote = $("#categoriaPacote");
        const geralRegistroCheck = $("#geralRegistroCheck");
        const quantidadeRegistroCheck = $("#quantidadeRegistroCheck");
        const idSistemaCheck = $("#idSistemaCheck");
        const numeroReservaCheck = $("#numeroReservaCheck");
        const nomePousadaCheck = $("#nomePousadaCheck");
        const hospVagasCheck = $("#hospVagasCheck");
        const hospVagas = $("#hospVagas");
        const newForm = document.getElementById("newForm");
        const create = $("#create");
        const deleteButton = $("#delete");
        const updateButton = $("#update");
        const categoriaQuarto = $("#categoriaQuarto");

        let user;
        let pass;

        send.on("click", async () => {
          user = username.val();
          pass = password.val();
          const formData = new FormData(form[0]);

          const login = await fetch(
            `/login?username=${user}&password=${pass}`,
            {
              method: "POST",
              body: formData,
            }
          ).then((j) => j.json());

          msg.removeClass("d-none text-danger");
          if (login.error) {
            msg.text("Credenciáis inválidas.").addClass("text-danger");
            return;
          }

          msg
            .text("Sucesso ao fazer o login! Redirecionando...")
            .addClass("text-success");

          setTimeout(() => {
            $("#loginDiv").addClass("d-none");
            $("#dashboard").removeClass("d-none").addClass("d-md-flex");
          }, 500);

          const exportButton = $("#export");
          exportButton.attr(
            "href",
            `/download?username=${user}&password=${pass}`
          );

          const importForm = $("#import");
          importForm.attr(
            "action",
            `/download?username=${user}&password=${pass}`
          );
        });

        /** TABELA **/
        const table = $("#table");
        let clients = await fetch("/clients").then((t) => t.json());

        // Atualizar os clientes
        const refreshClients = async () => {
          return await fetch("/clients").then((t) => t.json());
        };

        // Filtro
        document.querySelectorAll("#table thead tr th").forEach((c, i) => {
          if (i === 0) return;
          const options = $("<option></option>");
          options.val(c.innerText);
          options.text(c.innerText);
          filter.append(options);
        });

        /** ESCONDER TODAS AS FUNÇÕES **/
        const hideAllFunc = () => {
          document.querySelectorAll(".func").forEach((el) => {
            el.classList.add("d-none");
            el.classList.remove("d-flex");
            el.classList.remove("d-md-flex");
          });
        };

        const createTextInTh = (value) => {
          return $("<th></th>").append(value);
        };

        /** Loader **/
        const startLoader = () => {
          loader.removeClass("d-none");
          tdiv.addClass("d-flex");
          table.addClass("d-none");
        };

        const stopLoader = () => {
          loader.addClass("d-none");
          tdiv.removeClass("d-flex");
          table.removeClass("d-none");
        };

        /** Função para limpar a tabela **/
        const cleanTable = () => {
          document
            .querySelectorAll("#table tbody tr")
            .forEach((el) => el.remove());
        };

        /** ADICIONANDO TODOS OS CLIENTES **/
        const addClientsToTheTable = (filt = "", searchVal = "") => {
          cleanTable();
          startLoader();

          /** FILTRAR OS RESULTADOS **/
          filt = filt.trim(); // Trim no filtro
          searchVal = String(searchVal).trim().toUpperCase();
          let filteredClients = []; // Clientes filtrados
          // Exatos
          if (filt !== "" && searchVal !== "") {
            if (filt === "hosp_qtdevagas") {
              filteredClients = clients.data.filter(
                (c) => c.hosp_qtdevagas == searchVal
              );
            }
            if (filt === "hosp_numeroreserva") {
              filteredClients = clients.data.filter(
                (c) => c.hosp_numeroreserva == searchVal
              );
            }
            if (filt === "geral_qtderegistros") {
              filteredClients = clients.data.filter(
                (c) => c.geral_qtderegistros == searchVal
              );
            }
            if (filt === "geral_idsistema") {
              filteredClients = clients.data.filter(
                (c) => c.geral_idsistema == searchVal
              );
            }
            if (filt === "hosp_qtdediaria") {
              filteredClients = clients.data.filter(
                (c) => c.hosp_qtdediaria == searchVal
              );
            }
            if (filt === "geral_numeroregistro") {
              filteredClients = clients.data.filter(
                (c) =>
                  String(c.geral_numeroregistro).trim().toUpperCase() ==
                  searchVal
              );
            }
            // Não exatos
            const searchRegex = new RegExp(searchVal, "g");
            if (filt === "hosp_nomehospede") {
              filteredClients = clients.data.filter((c) =>
                String(c.hosp_nomehospede)
                  .trim()
                  .toUpperCase()
                  .match(searchRegex)
              );
            }
            if (filt === "geral_titularidadecompra") {
              filteredClients = clients.data.filter((c) =>
                String(c.geral_titularidadecompra)
                  .trim()
                  .toUpperCase()
                  .match(searchRegex)
              );
            }
            if (filt === "hosp_tipoquarto") {
              filteredClients = clients.data.filter((c) =>
                String(c.hosp_tipoquarto)
                  .trim()
                  .toUpperCase()
                  .match(searchRegex)
              );
            }
            if (filt === "hosp_categoriaquarto") {
              filteredClients = clients.data.filter((c) =>
                String(c.hosp_categoriaquarto)
                  .trim()
                  .toUpperCase()
                  .match(searchRegex)
              );
            }
            if (filt === "hosp_nomepousada") {
              filteredClients = clients.data.filter((c) =>
                String(c.hosp_nomepousada)
                  .trim()
                  .toUpperCase()
                  .match(searchRegex)
              );
            }
            if (filt === "hosp_categoriapacote") {
              filteredClients = clients.data.filter((c) =>
                String(c.hosp_categoriapacote)
                  .trim()
                  .toUpperCase()
                  .match(searchRegex)
              );
            }
            if (filt === "hosp_categoriapacote") {
              filteredClients = clients.data.filter((c) =>
                String(c.hosp_categoriapacote)
                  .trim()
                  .toUpperCase()
                  .match(searchRegex)
              );
            }
          } else {
            filteredClients = clients.data;
          }
          filteredClients.forEach((client) => {
            const tr = $("<tr></tr>")
              .addClass("text-center ")
              .css("vertical-align", "middle");

            // Ações
            tr.append(
              $("<th></th>").append(
                $("<i></i>")
                  .addClass("bi bi-gear actions")
                  .css("cursor", "pointer")
                  .click(async () => {
                    const id = client.hosp_qtdevagas;
                    deleteButton.removeClass("d-none");
                    updateButton.removeClass("d-none");
                    create.addClass("d-none");
                    hideAllFunc();
                    newForm.reset();
                    configNewForm();
                    const func = document.querySelectorAll(".func")[2];
                    func.classList.remove("d-none");
                    const res = await fetch(
                      `/clients?hosp_qtdevagas=${id}`
                    ).then((j) => j.json());
                    const newClient = res.data[0];
                    $("#title").text("Modificar");

                    nomeHosp.val(String(newClient.hosp_nomehospede).trim());
                    hospVagas.val(String(newClient.hosp_qtdevagas).trim());
                    quantidadeRegistro.val(
                      String(newClient.geral_qtderegistros).trim()
                    );
                    idSistema.val(String(newClient.geral_idsistema).trim());
                    numeroReserva.val(
                      String(newClient.hosp_numeroreserva).trim()
                    );
                    titularCompra.value = String(
                      newClient.geral_titularidadecompra
                    ).trim();
                    geralRegistro.val(
                      String(newClient.geral_numeroregistro).trim()
                    );
                    categoriaQuarto.val(
                      String(newClient.hosp_categoriaquarto).trim()
                    );
                    $("#tipoQuarto").val(
                      String(newClient.hosp_tipoquarto).trim()
                    );
                    nomePousada.val(String(newClient.hosp_nomepousada).trim());
                    categoriaPacote.val(
                      String(newClient.hosp_categoriapacote).trim()
                    );
                    $("contratoPousada").val(
                      String(newClient.hosp_statuscontratopousada).trim()
                    );

                    hospVagas.prop("disabled", true);
                    idSistema.prop("disabled", true);
                    quantidadeRegistro.prop("disabled", true);

                    document
                      .querySelectorAll("#newForm .form-check")
                      .forEach((el) => el.classList.add("d-none"));
                    document
                      .querySelectorAll("#newForm small")
                      .forEach((el) => el.classList.add("d-none"));
                    deleteButton.removeClass("d-none");
                  })
              )
            );

            // Quantidade de vagas
            tr.append(createTextInTh(client.hosp_qtdevagas));

            // Número de reserva
            tr.append(createTextInTh(client.hosp_numeroreserva));

            // Quantidade de registros
            tr.append(createTextInTh(client.geral_qtderegistros));

            // ID do sistema
            tr.append(createTextInTh(client.geral_idsistema));

            // Número de registro
            tr.append(createTextInTh(client.geral_numeroregistro));

            // Nome do hospede
            tr.append(createTextInTh(client.hosp_nomehospede));

            // Quem comprou
            tr.append(createTextInTh(client.geral_titularidadecompra));

            // Tipo de quarto
            tr.append(createTextInTh(client.hosp_tipoquarto));

            // Categoria de quarto
            tr.append(createTextInTh(client.hosp_categoriaquarto));

            // Data de entrada
            tr.append(createTextInTh(client.hosp_dataentrada));

            // Data de saida
            tr.append(createTextInTh(client.hosp_datasaida));

            // Diárias
            tr.append(createTextInTh(client.hosp_qtdediaria));

            // Pousada
            tr.append(createTextInTh(client.hosp_nomepousada));

            // Pacote
            tr.append(createTextInTh(client.hosp_categoriapacote));

            // Status
            tr.append(createTextInTh(client.hosp_statuscontratopousada));

            // Adicionando tudo
            $("#table tbody").append(tr);
          });
          stopLoader();
        };

        confirm.click(() => addClientsToTheTable(filter.val(), search.val()));

        addClientsToTheTable();

        /** Mudanças da função **/
        uploadButton.click(() => {
          hideAllFunc();
          const func = document.querySelectorAll(".func")[1];
          func.classList.remove("d-none");
          func.classList.add("d-flex");
        });
        tableButton.click(() => {
          hideAllFunc();
          const func = document.querySelectorAll(".func")[0];
          func.classList.remove("d-none");
          func.classList.add("d-md-flex");
        });
        newButton.click(() => {
          hideAllFunc();
          newForm.reset();
          configNewForm();
          const func = document.querySelectorAll(".func")[2];
          func.classList.remove("d-none");
          $("#title").text("Novo");
          document
            .querySelectorAll("#newForm .form-check")
            .forEach((el) => el.classList.remove("d-none"));
          document
            .querySelectorAll("#newForm small")
            .forEach((el) => el.classList.remove("d-none"));
          deleteButton.addClass("d-none");
          updateButton.addClass("d-none");
          /** Novo **/
          create.removeClass("d-none");
          create.click(createNewClientHandler);
        });

        /** Preenchimento automatico **/
        const configNewForm = () => {
          // Adiconando as pousadas e as categorias de pacote
          let todasPousadas = [];
          let todosPacotes = [];
          clients.data.forEach((c) => {
            todasPousadas.push(c.hosp_nomepousada);
            todosPacotes.push(c.hosp_categoriapacote);
          });
          todasPousadas = todasPousadas.filter(
            (valor, indice) => todasPousadas.indexOf(valor) === indice
          );
          document
            .querySelectorAll("#nomePousada option")
            .forEach((el) => el.remove());
          document
            .querySelectorAll("#categoriaPacote option")
            .forEach((el) => el.remove());
          todasPousadas.forEach((p) =>
            nomePousada.append($("<option></option>").text(p).val(p))
          );
          todosPacotes = todosPacotes.filter(
            (v, i) => todosPacotes.indexOf(v) === i
          );
          todosPacotes.forEach((p) =>
            categoriaPacote.append($("<option></option>").text(p).val(p))
          );
        };

        hospVagasCheck.click((e) => {
          if (e.target.checked) {
            hospVagas.val(
              clients.data[clients.data.length - 1].hosp_qtdevagas + 1
            );
            hospVagas.prop("disabled", true);
          } else {
            hospVagas.val("");
            hospVagas.prop("disabled", false);
          }
        });

        // Adicionar uma nova pousada
        nomePousadaCheck.click((e) => {
          if (e.target.checked) {
            novaPousada.removeClass("d-none");
            nomePousada.addClass("d-none");
          } else {
            novaPousada.addClass("d-none");
            nomePousada.removeClass("d-none");
          }
        });

        // Adicionar automaticamente a quantidade de registro
        quantidadeRegistroCheck.click((e) => {
          if (e.target.checked) {
            const maxRegister = clients.data.reduce((max, obj) =>
              obj.geral_qtderegistros > max.geral_qtderegistros ? obj : max
            );
            quantidadeRegistro.val(maxRegister.geral_qtderegistros + 1);
            quantidadeRegistro.prop("disabled", true);
          } else {
            quantidadeRegistro.val("");
            quantidadeRegistro.prop("disabled", false);
          }
        });

        // Adicionando automaticamente o id do sistema
        idSistemaCheck.click((e) => {
          if (e.target.checked) {
            const maxId = clients.data.reduce((max, obj) =>
              obj.geral_idsistema > max.geral_idsistema ? obj : max
            );
            idSistema.val(maxId.geral_idsistema + 1);
            idSistema.prop("disabled", true);
          } else {
            idSistema.val("");
            idSistema.prop("disabled", false);
          }
        });

        // Adiciona automaticamente o numero de reserva
        numeroReservaCheck.click((e) => {
          if (e.target.checked) {
            const maxReserv = clients.data.reduce((max, obj) =>
              obj.hosp_numeroreserva > max.hosp_numeroreserva ? obj : max
            );
            numeroReserva.val(parseInt(maxReserv.hosp_numeroreserva) + 1);
            numeroReserva.prop("disabled", true);
          } else {
            numeroReserva.val("");
            numeroReserva.prop("disabled", false);
          }
        });

        // Criar um novo numero de registro
        geralRegistroCheck.click((e) => {
          if (e.target.checked) {
            const caracteres = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
            let sequencia = "";
            for (let i = 0; i < 8; i++) {
              sequencia += caracteres.charAt(
                Math.floor(Math.random() * caracteres.length)
              );
            }
            geralRegistro.val(sequencia);
            geralRegistro.prop("disabled", true);
            titularCompra.disabled = true;
            titularCompra.value = nomeHosp.val();
          } else {
            geralRegistro.val("");
            geralRegistro.prop("disabled", false);
            titularCompra.value = "";
            titularCompra.disabled = false;
          }
        });

        // Quando chegar no tamanho e no formato de um registro adicionar o nome do titular correspondente
        geralRegistro.on("input", (e) => {
          if (e.target.value.length === 8) {
            const titular = clients.data.filter(
              (n) => n.geral_numeroregistro == geralRegistro.val()
            );
            if (titular) {
              titularCompra.value = titular[0].geral_titularidadecompra;
            }
          }
        });

        // Nome de titular igual ao nome caso for um novo numero de registro
        nomeHosp.on("input", () => {
          if (geralRegistroCheck.prop("checked") === true) {
            titularCompra.value = nomeHosp.val();
          }
        });

        configNewForm();

        /** HANDLERS **/
        const createNewClientHandler = async () => {
          document
            .querySelectorAll("#newForm input")
            .forEach((i) => (i.disabled = false));
          document
            .querySelectorAll("#newForm select")
            .forEach((s) => (s.disabled = false));
          const formData = new FormData(newForm);
          const maxVagas = clients.data.reduce((max, obj) =>
            obj.hosp_qtdevagas > max.hosp_qtdevagas ? obj : max
          );
          formData.set("hosp_qtdevagas", parseInt(maxVagas.hosp_qtdevagas) + 1);
          formData.set("hosp_dataentrada", 1683244800000);
          formData.set("hosp_datasaida", 1683417600000);
          formData.set("hosp_qtdediaria", 2);
          if (nomePousadaCheck.prop("checked")) {
            formData.set("hosp_nomepousada", novaPousada.val());
          }
          const client = await fetch(
            `/clients?username=${user}&password=${pass}`,
            {
              method: "POST",
              body: formData,
            }
          ).then((j) => j.json());
          hideAllFunc();
          const func = document.querySelectorAll(".func")[0];
          func.classList.remove("d-none");
          func.classList.add("d-md-flex");
          alert(client.msg);
          clients = await refreshClients();
          addClientsToTheTable(
            "hosp_qtdevagas",
            clients.data[clients.data.length - 1].hosp_qtdevagas
          );
          newForm.reset();
          configNewForm();
          nomePousada.removeClass("d-none");
          novaPousada.addClass("d-none");
        };

        const deleteClientHandler = async () => {
          const modify = await fetch(
            `/clients?username=${user}&password=${pass}&hosp_qtdevagas=${hospVagas.val()}`,
            {
              method: "DELETE",
            }
          ).then((j) => j.json());
          if (modify.error) {
            alert(modify.error);
          } else {
            alert(modify.msg);
          }
          hideAllFunc();
          const func = document.querySelectorAll(".func")[0];
          func.classList.remove("d-none");
          func.classList.add("d-md-flex");
          clients = await refreshClients();
          addClientsToTheTable();
          newForm.reset();
          configNewForm();
          nomePousada.removeClass("d-none");
          novaPousada.addClass("d-none");
        };

        const updateClientHandler = async () => {
          document
            .querySelectorAll("#newForm input")
            .forEach((i) => (i.disabled = false));
          document
            .querySelectorAll("#newForm select")
            .forEach((s) => (s.disabled = false));
          const formData = new FormData(newForm);
          formData.set("hosp_qtdevagas", hospVagas.val());
          formData.set("hosp_dataentrada", 1683244800000);
          formData.set("hosp_datasaida", 1683417600000);
          formData.set("hosp_qtdediaria", 2);
          const modify = await fetch(
            `/clients?username=${user}&password=${pass}&hosp_qtdevagas=${hospVagas.val()}`,
            {
              method: "PUT",
              body: formData,
            }
          ).then((j) => j.json());
          if (modify.error) {
            alert(modify.error);
          } else {
            alert(modify.msg);
          }
          hideAllFunc();
          const func = document.querySelectorAll(".func")[0];
          func.classList.remove("d-none");
          func.classList.add("d-md-flex");
          clients = await refreshClients();
          addClientsToTheTable("hosp_qtdevagas", hospVagas.val());
          newForm.reset();
          configNewForm();
          nomePousada.removeClass("d-none");
          novaPousada.addClass("d-none");
        };

        /** DELETE **/
        deleteButton.click(deleteClientHandler);

        /** UPDATE **/
        updateButton.click(updateClientHandler);

        /** GET **/
        refresh.click(async () => {
          hideAllFunc();
          const func = document.querySelectorAll(".func")[0];
          func.classList.remove("d-none");
          func.classList.add("d-md-flex");
          clients = await refreshClients();
          addClientsToTheTable("hosp_qtdevagas", hospVagas.val());
          newForm.reset();
          configNewForm();
          nomePousada.removeClass("d-none");
          novaPousada.addClass("d-none");
        });
      });
    </script>
  </body>
</html>
