<!DOCTYPE html>
<html lang="pt-br" style="min-height: 100%; height: 100%">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
      integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e"
      crossorigin="anonymous"
    />
  </head>
  <body class="h-100">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div
          class="col-12 h-100 d-md-flex justify-content-center align-items-center mt-md-0 mt-5"
        >
          <div id="loginDiv" class="col-md-3 container">
            <div class="text-center col-11 container mb-3">
              <img src="/static/logo.png" class="col-4" />
            </div>
            <form id="form" class="col-11 container shadow-lg p-3">
              <div class="col-12 mb-3">
                <label for="username" class="form-label"
                  >Nome de usuário:</label
                >
                <div class="input-group-lg">
                  <input
                    id="username"
                    name="username"
                    placeholder="Insira o nome de usuário do administrador"
                    class="form-control form-control-lg"
                  />
                </div>
              </div>
              <div class="col-12 mb-3">
                <label for="password" class="form-label">Senha:</label>
                <div class="input-group-lg">
                  <input
                    id="password"
                    name="password"
                    placeholder="Insira sua senha do administrador"
                    class="form-control form-control-lg"
                  />
                </div>
              </div>
              <div class="col-12 text-center mb-3">
                <label id="msg" class="d-none"></label>
              </div>
              <div class="col-12 mb-3">
                <div class="input-group">
                  <input
                    class="btn btn-block btn-primary col-12"
                    type="button"
                    id="send"
                    value="Enviar"
                  />
                </div>
              </div>
            </form>
          </div>
          <div
            id="dashboard"
            class="col-md-8 shadow-lg d-none"
            style="height: 800px"
          >
            <div
              class="col-md-1 h-auto col-12 h-md-100 p-2 border d-md-block d-flex justify-content-around align-items-center"
            >
              <div class="container col-md-12 col-2 mt-2 text-center">
                <img src="/static/logo.png" class="col-md-8 col-12" />
              </div>
              <div class="container col-md-12 col-2 mt-2 mt-md-5 text-center">
                <i
                  class="bi bi-table h3"
                  id="tableButton"
                  style="cursor: pointer"
                ></i>
              </div>
              <div class="container col-md-12 col-2 mt-2 mt-md-5 text-center">
                <i class="bi bi-download h3" style="cursor: pointer"></i>
              </div>
              <div class="container col-md-12 col-2 mt-2 mt-md-5 text-center">
                <i
                  class="bi bi-upload h3"
                  id="uploadButton"
                  style="cursor: pointer"
                ></i>
              </div>
              <div class="container col-md-12 col-2 mt-2 mt-md-5 text-center">
                <i
                  class="bi bi-person-add h3"
                  style="cursor: pointer"
                  id="newButton"
                ></i>
              </div>
            </div>
            <div class="col-md-11 d-md-flex h-100 func" style="height: 800px">
              <div class="col-md-12 h-100">
                <div
                  class="tadd d-flex justify-content-around table-responsive h-auto container col-12 p-2 bg-secondary text-white"
                >
                  <h5 class="d-md-block d-none">clients.xlsx</h5>
                  <div class="col-md-5 col-9">
                    <div class="input-group">
                      <select id="filter" class="form-select form-select-sm">
                        <option>Filtro</option>
                      </select>
                      <input
                        type="search"
                        id="search"
                        class="form-control form-control-sm"
                        placeholder="Search"
                      />
                      <input
                        type="button"
                        id="confirm"
                        class="btn btn-block btn-sm btn-primary"
                        value="Procurar"
                      />
                    </div>
                  </div>
                </div>
                <div
                  class="container col-12 container h-100 d-flex justify-content-center align-items-center"
                  id="tdiv"
                  style="max-width: 100%; overflow: auto; max-height: 90%"
                >
                  <div
                    class="spinner-grow text-primary"
                    style="width: 3rem; height: 3rem"
                    role="status"
                    id="loader"
                  >
                    <span class="sr-only"></span>
                  </div>
                  <table
                    class="table table-striped table-bordered col-12 d-none"
                    style="width: 100%"
                    id="table"
                  >
                    <thead>
                      <tr></tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
              </div>
            </div>
            <div
              class="col-12 d-none h-100 func text-center align-items-center justify-content-center"
              style="height: 800px"
            >
              <form enctype="multipart/form-data" method="POST" id="import">
                <h1>Importar uma nova tabela</h1>
                <small>*.xlsx</small>
                <div class="col-12 mb-3">
                  <div class="input-group">
                    <input
                      type="file"
                      name="clients"
                      class="form-control-file form-control"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="input-group">
                    <input
                      type="submit"
                      value="Upload"
                      class="btn btn-block btn-primary col-12"
                    />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(async () => {
        const username = $("#username");
        const password = $("#password");
        const loader = $("#loader");
        const tdiv = $("#tdiv");
        const send = $("#send");
        const form = $("#form");
        const msg = $("#msg");
        const filter = $("#filter");
        const search = $("#search");
        const confirm = $("#confirm");

        let user;
        let pass;

        send.on("click", async () => {
          user = username.val();
          pass = password.val();
          const formData = new FormData(form[0]);

          const login = await fetch(
            `/login?username=${user}&password=${pass}`,
            {
              method: "POST",
              body: formData,
            }
          ).then((j) => j.json());

          msg.removeClass("d-none text-danger");
          if (login.error) {
            msg.text("Credenciáis inválidas.").addClass("text-danger");
            return;
          }

          msg
            .text("Sucesso ao fazer o login! Redirecionando...")
            .addClass("text-success");

          setTimeout(() => {
            $("#loginDiv").addClass("d-none");
            $("#dashboard").removeClass("d-none").addClass("d-md-flex");
          }, 500);

          const exportButton = $("#export");
          exportButton.attr(
            "href",
            `/download?username=${user}&password=${pass}`
          );

          const importForm = $("#import");
          importForm.attr(
            "action",
            `/clients?username=${user}&password=${pass}`
          );
        });

        /** TABELA **/
        const table = $("#table");
        const clients = await fetch("/clients").then((t) => t.json());

        /** ADICIONANDO AS COLUNAS **/
        const collumns = [
          "hosp_qtdevagas",
          "hosp_numeroreserva",
          "geral_qtderegistros",
          "geral_idsistema",
          "geral_numeroregistro",
          "hosp_nomehospede",
          "geral_titularidadecompra",
          "hosp_tipoquarto",
          "hosp_categoriaquarto",
          "hosp_dataentrada",
          "hosp_datasaida",
          "hosp_qtdediaria",
          "hosp_nomepousada",
          "hosp_categoriapacote",
          "hosp_statuscontratopousada",
          "Ações",
        ];
        collumns.forEach((c) => {
          $("#table thead tr").append($("<th></th>").text(c));
          filter.append($("<option></option>").text(c).val(c));
        });

        /** ESCONDER TODAS AS FUNÇÕES **/
        const hideAllFunc = () => {
          document.querySelectorAll(".func").forEach((el) => {
            el.classList.add("d-none");
            el.classList.remove("d-flex");
            el.classList.remove("d-md-flex");
          });
        };

        const createTextInTh = (value) => {
          return $("<th></th>").append(value);
        };

        /** Loader **/
        const startLoader = () => {
          loader.removeClass("d-none");
          tdiv.addClass("d-flex");
          table.addClass("d-none");
        };

        const stopLoader = () => {
          loader.addClass("d-none");
          tdiv.removeClass("d-flex");
          table.removeClass("d-none");
        };

        /** Função para limpar a tabela **/
        const cleanTable = () => {
          document
            .querySelectorAll("#table tbody tr")
            .forEach((el) => el.remove());
        };

        /** ADICIONANDO TODOS OS CLIENTES **/
        const addClientsToTheTable = (filt = "", search = "") => {
          cleanTable();
          startLoader();

          /** FILTRAR OS RESULTADOS **/
          filt = filt.trim(); // Trim no filtro
          search = search.trim().toUpperCase();
          let filteredClients = []; // Clientes filtrados
          // Exatos
          if (filt !== "" && search !== "") {
            if (filt === "hosp_qtdevagas") {
              filteredClients = clients.data.filter(
                (c) => c.hosp_qtdevagas == search
              );
            }
            if (filt === "hosp_numeroreserva") {
              filteredClients = clients.data.filter(
                (c) => c.hosp_numeroreserva == search
              );
            }
            if (filt === "geral_qtderegistros") {
              filteredClients = clients.data.filter(
                (c) => c.geral_qtderegistros == search
              );
            }
            if (filt === "geral_idsistema") {
              filteredClients = clients.data.filter(
                (c) => c.geral_idsistema == search
              );
            }
            if (filt === "hosp_qtdediaria") {
              filteredClients = clients.data.filter(
                (c) => c.hosp_qtdediaria == search
              );
            }
            if (filt === "geral_numeroregistro") {
              filteredClients = clients.data.filter(
                (c) =>
                  String(c.geral_numeroregistro).trim().toUpperCase() == search
              );
            }
            // Não exatos
            const searchRegex = new RegExp(search, "g");
            if (filt === "hosp_nomehospede") {
              filteredClients = clients.data.filter((c) =>
                String(c.hosp_nomehospede).match(searchRegex)
              );
            }
            if (filt === "geral_titularidadecompra") {
              filteredClients = clients.data.filter((c) =>
                c.hosp_nomehospede.match(searchRegex)
              );
            }
            if (filt === "hosp_tipoquarto") {
              filteredClients = clients.data.filter((c) =>
                c.hosp_tipoquarto.match(searchRegex)
              );
            }
            if (filt === "hosp_categoriaquarto") {
              filteredClients = clients.data.filter((c) =>
                c.hosp_categoriaquarto.match(searchRegex)
              );
            }
            if (filt === "hosp_nomepousada") {
              filteredClients = clients.data.filter((c) =>
                String(c.hosp_nomepousada).match(searchRegex)
              );
            }
            if (filt === "hosp_categoriapacote") {
              filteredClients = clients.data.filter((c) =>
                String(c.hosp_categoriapacote).match(searchRegex)
              );
            }
            if (filt === "hosp_categoriapacote") {
              filteredClients = clients.data.filter((c) =>
                c.hosp_categoriapacote.match(searchRegex)
              );
            }
          } else {
            filteredClients = clients.data;
          }
          filteredClients.forEach((client) => {
            const tr = $("<tr></tr>")
              .addClass("text-center ")
              .css("vertical-align", "middle");

            // Quantidade de vagas
            tr.append(createTextInTh(client.hosp_qtdevagas));

            // Número de reserva
            tr.append(createTextInTh(client.hosp_numeroreserva));

            // Quantidade de registros
            tr.append(createTextInTh(client.geral_qtderegistros));

            // ID do sistema
            tr.append(createTextInTh(client.geral_idsistema));

            // Número de registro
            tr.append(createTextInTh(client.geral_numeroregistro));

            // Nome do hospede
            tr.append(createTextInTh(client.hosp_nomehospede));

            // Quem comprou
            tr.append(createTextInTh(client.geral_titularidadecompra));

            // Tipo de quarto
            tr.append(createTextInTh(client.hosp_tipoquarto));

            // Categoria de quarto
            tr.append(createTextInTh(client.hosp_categoriaquarto));

            // Data de entrada
            tr.append(createTextInTh(client.hosp_dataentrada));

            // Data de saida
            tr.append(createTextInTh(client.hosp_datasaida));

            // Diárias
            tr.append(createTextInTh(client.hosp_qtdediaria));

            // Pousada
            tr.append(createTextInTh(client.hosp_nomepousada));

            // Pacote
            tr.append(createTextInTh(client.hosp_categoriapacote));

            // Status
            tr.append(createTextInTh(client.hosp_statuscontratopousada));

            tr.append(
              $("<th></th>").append(
                $("<i></i>")
                  .addClass("bi bi-gear")
                  .css("cursor", "pointer")
                  .click(() => {})
              )
            );

            // Adicionando tudo
            $("#table tbody").append(tr);
          });
          stopLoader();
        };

        confirm.click(() => addClientsToTheTable(filter.val(), search.val()));

        addClientsToTheTable();

        const uploadButton = $("#uploadButton");
        const tableButton = $("#tableButton");
        uploadButton.click(() => {
          hideAllFunc();
          const func = document.querySelectorAll(".func")[1];
          func.classList.remove("d-none");
          func.classList.add("d-flex");
        });
        tableButton.click(() => {
          hideAllFunc();
          const func = document.querySelectorAll(".func")[0];
          func.classList.remove("d-none");
          func.classList.add("d-md-flex");
        });
      });
    </script>
  </body>
</html>
