<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <title>Consultar</title>
  </head>
  <body>
    <div class="container">
      <div className="card card-custom" style="background-color: #00000012">
        <div className="card-header d-none">
          <h3 className="card-title"></h3>
        </div>
        <div className="card-body">
          <div class="text-center d-flex justify-content-center mb-5 pb-5">
            <div class="col-md-12">
              <img src="/static/voucher-frente.png" class="img-fluid w-25" />
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-9">
              <div class="row">
                <!-- BEGIN:: GERAL -->
                <div class="col-md-12">
                  <div class="input-group mb-3">
                    <input
                      type="text"
                      class="form-control"
                      aria-describedby="button-addon2"
                      id="consult"
                      placeholder="Número de registro"
                    />
                    <button
                      class="btn btn-outline-success bg-info text-white"
                      type="button"
                      id="send"
                    >
                      Verificar
                    </button>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-floating">
                    <select class="form-control" id="hosp">
                      <option>Nome do hospede</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="row col-12 mt-3 ml-auto mr-auto d-flex justify-content-center"
            v-if="itsok == true"
          >
            <div class="col-md-10 bg-secondary p-5 rounded">
              <div class="row">
                <div class="col-6">
                  <div class="form-floating mb-5">
                    <input
                      type="text"
                      class="form-control"
                      id="reserv"
                      disabled
                    />
                    <label for="hosp_numeroreserva">Número da reserva</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating mb-5">
                    <input type="text" class="form-control" id="id" disabled />
                    <label for="geral_idsistema">ID San Island</label>
                  </div>
                </div>
                <p class="text-center h1 col-12">HOSPEDAGEM</p>
                <div class="col-6">
                  <div class="form-floating mb-5">
                    <input
                      type="text"
                      class="form-control"
                      id="category"
                      disabled
                    />
                    <label for="hosp_categoriapacote">Categoria</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating mb-5">
                    <input
                      type="text"
                      class="form-control"
                      id="pous"
                      disabled
                    />
                    <label for="hosp_nomepousada">Nome da Pousada</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating mb-5">
                    <input
                      type="text"
                      class="form-control"
                      id="in"
                      disabled
                      value="05/05/2023"
                    />
                    <label for="hosp_dataentrada">Data IN</label>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating mb-5">
                    <input
                      type="text"
                      class="form-control"
                      id="out"
                      disabled
                      value="07/05/2023"
                    />
                    <label for="hosp_datasaida">Data OUT</label>
                  </div>
                </div>
                <div class="col-12" style="max-width: 100%; overflow: auto">
                  <table
                    class="table table-row-dashed table-row-gray-300 gy-2 bg-white rounded"
                  >
                    <thead>
                      <tr class="fw-bolder fs-6 text-gray-800">
                        <td>Tipo de quarto</td>
                        <td>Nº registro</td>
                        <td>Acompanhante de quarto</td>
                      </tr>
                    </thead>
                    <tbody class="p-5" id="query"></tbody>
                  </table>
                </div>
                <div class="col-12 d-none">
                  <div class="form-floating mb-3">
                    <label for="geral_observacao">Observação</label>
                  </div>
                </div>
                <div class="col-12 bg-white p-5 rounded container">
                  <h5 class="text-center mb-3">
                    HOSPEDAGEM SAN ISLAND WEEKEND
                  </h5>
                  <p>
                    Data IN: 05/05/2023 <br />
                    Data OUT: 07/05/2023
                  </p>
                  <p>
                    Horário Check IN: 14h00 <br />
                    Horário Check OUT: 12h00
                  </p>
                  <p>
                    INFORMAÇÕES:
                    <i>
                      Diárias incluem café da manhã. Informações e contratações
                      de diárias extras, entrar diretamente com a pousada onde
                      estará alocado. Diárias incluem o café da manha.
                    </i>
                  </p>
                  <p>
                    Equipe Logística Cel:
                    <span class="text-primary">(19) 99459-3637 </span><br />
                    Email:
                    <span class="text-primary text-break"
                      >sanconcierge.logistica@agmuller.com.br</span
                    >
                    <br />
                    <span>SAN CONCIERGE</span>
                  </p>
                  <strong
                    >Não deixem para última hora a compra e agendamento dos
                    horários de seus transfers IN e OUT!</strong
                  >
                  <p>
                    LINK DE AGENDAMENTO:
                    <a
                      href="https://sanconcierge.logistica.grrr.com.br/"
                      class="text-break"
                      >https://sanconcierge.logistica.grrr.com.br/</a
                    >
                  </p>
                  <p class="text-center h5 mt-3 mb-3">SAN CONCIERGE</p>
                  <div class="text-center col-md-3 col-8 container">
                    <img src="/static/logo.png" class="col-12" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="module">
      const consult = document.getElementById("consult");
      const send = document.getElementById("send");
      const hosp = document.getElementById("hosp");
      const reserv = document.getElementById("reserv");
      const id = document.getElementById("id");
      const category = document.getElementById("category");
      const pous = document.getElementById("pous");
      const indate = document.getElementById("in");
      const outdate = document.getElementById("out");
      const query = document.getElementById("query");

      function organizate(r, i, c, p) {
        console.log(r);
        reserv.value = r;
        id.value = i;
        category.value = c;
        pous.value = p;
      }

      async function getSelect(data) {
        const number = consult.value.toUpperCase().trim();
        document.querySelectorAll("#query tr").forEach((el) => el.remove());
        const table = [];
        data.forEach((c) => {
          if (String(c.geral_numeroregistro).trim().toUpperCase() === number) {
            const option = document.createElement("option");
            option.innerText = `${c.hosp_nomehospede} (${c.hosp_numeroreserva})`;
            option.value = c.hosp_qtdevagas;
            hosp.appendChild(option);
          }
        });
      }
      async function getTable(client) {
        document.querySelectorAll("#query tr").forEach((el) => el.remove());
        const search = await fetch(
          "/clients?hosp_numeroreserva=" + client.hosp_numeroreserva
        ).then((j) => j.json());
        console.log(search);
        const data = search.data;
        data.forEach((c) => {
          if (c.hosp_nomehospede == null) {
            return;
          }
          const type = document.createElement("th");
          const register = document.createElement("th");
          const name = document.createElement("th");

          type.innerText = c.hosp_tipoquarto;
          register.innerText = c.geral_numeroregistro;
          name.innerText = c.hosp_nomehospede;

          const tr = document.createElement("tr");
          tr.appendChild(type);
          tr.appendChild(register);
          tr.appendChild(name);

          query.appendChild(tr);
        });
      }

      hosp.addEventListener("change", async () => {
        const id = hosp.value;
        const dataframe = await fetch(`/clients?hosp_qtdevagas=${id}`).then(
          (j) => j.json()
        );
        if (dataframe.length === 0) {
          return;
        }
        const client = dataframe.data[0];
        organizate(
          client.hosp_numeroreserva,
          client.geral_idsistema,
          client.hosp_categoriapacote,
          client.hosp_nomepousada
        );
        getTable(client);
      });

      send.addEventListener("click", async () => {
        const number = consult.value;
        const dataframe = await fetch(
          `/clients?geral_numeroregistro=${number}`
        ).then((j) => j.json());

        const data = dataframe.data;

        if (data.length === 0 || data.length > 100) {
          return;
        }

        document.querySelectorAll("#hosp option").forEach((e) => e.remove());

        const client = data[0];

        organizate(
          client.hosp_numeroreserva,
          client.geral_idsistema,
          client.hosp_categoriapacote,
          client.hosp_nomepousada
        );

        getSelect(data);

        getTable(client);
      });
    </script>
    <script
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
      integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
